.scrollbar-container {
    scrollbar-width: thin;
    scrollbar-color: #cccccc83 #ffffff00;
}
ul {
    display: block;
    list-style-type: disc;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
}
